@keyframes disco2 {
  0% {
    background-color: yellow;
  }

  20% {
    background-color: lightblue;
  }

  40% {
    background-color: lime;
  }

  60% {
    background-color: cyan;
  }

  80% {
    background-color: red;
  }

  100% {
    background-color: purple;
  }
}

@keyframes disco {
  0% {
    background-color: red;
  }

  20% {
    background-color: purple;
  }

  40% {
    background-color: yellow;
  }

  60% {
    background-color: lightblue;
  }

  80% {
    background-color: lime;
  }

  100% {
    background-color: cyan;
  }
}

