@use "./themes";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  max-width: 90vw;
  min-width: 180px;
  display: inline-block;
  margin: 5px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 2px;

  .calculator__display {
    font-family: 'Seven Segment', sans-serif;
    font-size: 21px;
    padding: 0 2px;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border: 1px solid black;
    margin-bottom: 2px;
    align-content: center;
    text-align: right;
    overflow: hidden;
  }

  .calculator__button-panel {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "1 2 3 add pi"
      "4 5 6 subtract t1"
      "7 8 9 multiply t2"
      "_ 0 period divide t3"
      "clear evaluate backspace backspace backspace";

    .calculator__button {
      width: 100%;
      height: 100%;
      font-size: 20px;

      &--button-theme1 {
        grid-area: t1
      }

      &--button-theme2 {
        grid-area: t2
      }

      &--button-theme3 {
        grid-area: t3
      }

      &--button-pi {
        grid-area: pi
      }

      &--button-0 {
        grid-area: "0"
      }

      &--button-1 {
        grid-area: "1"
      }

      &--button-2 {
        grid-area: "2"
      }

      &--button-3 {
        grid-area: "3"
      }

      &--button-4 {
        grid-area: "4"
      }

      &--button-5 {
        grid-area: "5"
      }

      &--button-6 {
        grid-area: "6"
      }

      &--button-7 {
        grid-area: "7"
      }

      &--button-8 {
        grid-area: "8"
      }

      &--button-9 {
        grid-area: "9"
      }

      &--button-period {
        grid-area: period
      }

      &--button-clear {
        grid-area: clear
      }

      &--button-evaluate {
        grid-area: evaluate
      }

      &--button-divide {
        grid-area: divide
      }

      &--button-multiply {
        grid-area: multiply
      }

      &--button-subtract {
        grid-area: subtract
      }

      &--button-add {
        grid-area: add
      }

      &--button-backspace {
        grid-area: backspace
      }
    }
  }
}
